@import url(base.css);
/*头部导航部分开始*/
.top-nav{
	z-index: 200;
	margin:0 auto;
	height: 128px;
    width: 100%;
	background: transparent;
	position: fixed;
	color: #333;
	padding-top: 28px;
	transition: .36s ease;
}
.top-nav-scroll{
	z-index: 200;
	margin:0 auto;
	height: 66px;
    width: 100%;
	background: #f24546;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	position: fixed;
	color: #333;
	padding-top: 0px;
	transition: .36s ease;
}
.wraper{
	height: 100%;
}
.nav-content{
	max-width: 1300px;
	height: 62px;
	width: 96%;
	margin:0 auto;
}
/*左边logo*/
.logo{
    float: left;
    height: 100%;
    margin-right: 50px;
}
.logo a{
	margin-top: 14px;
	display: block;
}
.logo img{
	height: 34px !important;
}

/*右边导航*/
.nav-bar{
	float: right;
	height: 100%;
}
.bar-content{
    height: 100%;
}
.nav{
	height: 100%;
	display: block;
}
.nav li a{
	position: relative;
	line-height: 62px;
	height: 100%;
	color: white;
	font-size:14px;
	display: block;
    padding: 0 26px;
    margin-bottom:2px solid transparent;
}
.nav li{
	height: 100%;
	float: left;
	position: relative;
    float: left;
    cursor: pointer;
}
/*导航下部小圆点*/

/*.nav li:hover #white-circle-top:after{
    position: absolute;
    bottom:9px;
    left: 50%;
    width: 3px;
    height: 3px;
    margin-left: -1px;
    padding: 0;
    content: "";
    transition: .36s ease;
    opacity:1;
    border-radius: 50%;
    background-color: #fff;
}*/
.actived:after{
	position: absolute;
    bottom:9px;
    left: 50%;
    width: 3px;
    height: 3px;
    margin-left: -1px;
    padding: 0;
    content: "";
    transition: .36s ease;
    opacity:1;
    border-radius: 50%;
    background-color: #fff;
}
.leave-nav-box{
	width: 182px;
	background: #FF4D4D;
	position: absolute;
	top:62px;
	left:-34px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);;
}
/*.nav li:hover #hovers:after{
	position: absolute;
    bottom:9px;
    left: 50%;
    width: 3px;
    height: 3px;
    margin-left: -1px;
    padding: 0;
    content: "";
    transition: .36s ease;
    opacity:1;
    border-radius: 50%;
    background-color: #fff;
}*/
.white-circle-bar:after{
    position: absolute;
    bottom:6px;
    left: 50%;
    width: 3px;
    height: 3px;
    margin-left: -1px;
    padding: 0;
    content: "";
    transition:.36s ease;
    opacity:1;
    border-radius: 50%;
    background-color: #fff;
}
.leave-nav-box .leave-nav-bar{
	box-sizing: border-box;
	display: block;
	text-align: center;
	line-height: 48px !important;
	height: 48px !important;
	font-size:12px !important; 
}
/*banner图片*/
.banner{
	position: relative;
	height: 480px;
	width: 100%;
}
/*内容部分*/
section{
    width: 100%;
}
.nav-list-box{
	width: 96%;
	max-width: 1300px;
	margin: 0 auto;
	height: 45px;
	padding-top: 45px;
	padding-bottom: 44px;
	border-bottom: 1px solid #D9D9D9;
}
.nav-list-items{
	box-sizing: border-box;
	height: 45px;
	width: 200px;
	padding-top: 6px;
}
.nav-list-item{
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 68px;
	height: 32px;
	margin: 0 5px;
	padding:0 20px;
	font-size: 14px;
	line-height: 32px;
	border-radius: 18px;
}
.nav-list-item a{
	color: #555;
}
.nav-active{
	background: #F24546;
}
.nav-active a{
	color: white;
}

/*大神展示*/
.dashen-items-box{
	position: relative;
	margin: 0 auto;
	width: 96%;
	max-width: 1300px;
	padding-right: 160px;
	box-sizing: border-box;
	height: 500px;
	border-bottom: 1px solid #D9D9D9;
}
.dashen-items-img{
    width: 330px;
    height: 300px;
    margin-bottom: 35px;
    position: absolute;
    left: 54px;
    bottom: 80px;
} 
.dashen-items-img img{
	width: 100%;
	height: 100%;
}
.dashen-items-desc{
	float: left;
	width: 330px;
    padding-left: 415px;
}
.dashen-items-art{
	font-size: 13px;
    line-height: 26px;
    height: 52px;
    color: #888;
    margin-top: 280px;
}
.dashen-items-line span{
	padding-bottom:10px;
	width: 25%;
	display: block;
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}
.dashen-more{
	color: #282B35;
}
.dashen-right{
	float: right;
	width: 320px;
	height: 500px;
}
.dashen-right img{
    width: 100%;
    height: 100%;
}
.border-none{
	border: none;
}
.dashen-bottom{
	box-sizing: border-box;
	width:96%;
	max-width: 1300px;
	height: 166px;
	padding-top: 80px;
	padding-bottom: 40px;
	margin:0 auto;
}
.dashen-bottom span{
	display: block;
	border-radius: 50%;
	width: 46px;
	height: 46px;
	margin: 0 auto;
	border: 2px solid #C9C9C9;
}
.dashen-bottom span b{
	display: block;
	margin:13px 18px;
	color: #C9C9C9;
}